<%- include('../layouts/header'); %>
    <%- include('../layouts/nav'); %>
        <div class="container">
            <div class="row mt-2">
                <div class="col-md-5">
                    <h2 class="mt-3">Ingresar un producto nuevo</h2>

                    <form class="form-control mt-2" action="/save" method="post">
                        <div class="container">
                            <div>
                                <label class="form-label" for="">Codigo del Producto:</label>
                                <input class="form-control" type="text" name="codigo">
                            </div>
                            <div>
                                <label class="form-label" for="">Nombre del Producto:</label>
                                <input class="form-control" type="text" name="nombre">
                            </div>
                            <div>
                                <label class="form-label" for="">Precio del Producto:</label>
                                <input class="form-control" type="number" name="precio">
                            </div>
                            <div>
                                <label class="form-label" for="">Cantidad:</label>
                                <input class="form-control" type="number" name="cantidad">
                            </div>
                            <div class="d-grid gap-2 mt-2">
                                <button class="btn btn-lg btn-primary" type="submit">Guardar!</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    <h2 class="mt-3">Productos</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-info">
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data){ %>
                                    <% for(let i=0; i<data.length;i++){ %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= data[i].nombre %></td>
                                    <td><%= data[i].cantidad %></td>
                                    <td><%= data[i].precio %></td>
                                    <td><%= data[i].precio * data[i].cantidad %></td>
                                    <td>
                                        <a class="btn btn-info" href="/edit/<%= data[i].codigo %>">EDITAR</a>
                                        <a class="btn btn-danger" href="/delete/<%= data[i].codigo%>">ELIMINAR</a>
                                    </td>
                                </tr>                   
                                <%  } %>
                                <%  } %>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
<%- include('../layouts/footer'); %>